# Ignore virtual environments directories
venv/
.venv/

# Mac OS X thumbnail cache directory
.DS_Store

# Build artifacts
__pycache__/
*.pyc
  
# Editor files and logs
*.swp
*~

# Jupyter notebooks specific files 
.ipynb_checkpoints/

# Other temporary files or directories you don't want to commit
temp/
chroma_db/